In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [ ]:
we need to eastablish a connection to the sqlite database by creating a connection
we need to create a cursor using a cursor object # by using cursor we will able to know that on which pat or tbale of database we are working without using cursor we use whole database
cursor_object.execute(query) 
fetch the data. fetchall() #most recently query executed by the cursor will be seen by using fetchall()

In [2]:
conn = sqlite3.connect('movies.sqlite')
# db = 'movies.sqlite'
# conn = sqlite3.connect(db)
cur = conn.cursor()
cur.execute('select* from movies')

In [3]:
movies = cur.fetchall()

In [4]:
movies = pd.DataFrame(movies, columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])

In [5]:
cur.execute('select* from directors')
directors = cur.fetchall()
directors = pd.DataFrame(directors,columns=['name','id','gender','uid','department'])

In [6]:
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [7]:
# check how many movies are present in the data
cur.execute('select count(Title) from movies')
cur.fetchall()

[(4773,)]

In [8]:
# find the data of these three directors : James Camron, Luc Besson, John Woo
#cur.execute("select *from directors where name in ('James Camron','Luc Besson','John Woo')")
cur.execute("select *from directors where name == 'James Camron' or name == 'Luc Besson' or name == 'John Woo'")
cur.fetchall()

[('John Woo', 4893, 2, 11401, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing')]

In [9]:
# find all the directors with name starting with 'Steven'
cur.execute(' select *from directors where name like "Steven%" ')
cur.fetchall()

[('Steven Spielberg', 4799, 2, 488, 'Directing'),
 ('Steven Soderbergh', 4909, 2, 1884, 'Directing'),
 ('Steven Brill', 5013, 2, 32593, 'Directing'),
 ('Steven Zaillian', 5117, 2, 2260, 'Directing'),
 ('Steven Quale', 5216, 2, 93214, 'Directing'),
 ('Steven Seagal', 5221, 2, 23880, 'Directing'),
 ('Steven E. de Souza', 5390, 2, 1726, 'Directing'),
 ('Steven Shainberg', 5803, 2, 67795, 'Directing'),
 ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

In [10]:
# how many females directors
cur.execute('select count(id) from directors where gender=1')
#cur.fetchall()
cur.fetchall()[0][0]

150

In [11]:
# the name of the 10th women director
#cur.execute('select name from directors where gender=1 limit 10')
#cur.fetchall()[-1]
#cur.fetchall()[9]
cur.execute('select name from directors where gender=1 limit 9,1')
cur.fetchall()

[('Angelina Jolie',)]

In [12]:
# what are the three most popular movies
cur.execute('select original_title from movies order by popularity Desc limit 3')
cur.fetchall()

[('Minions',), ('Interstellar',), ('Deadpool',)]

In [13]:
# what is most awarded movie since jan 1st 2000
cur.execute('select original_title from movies where release_date > "2000-01-01" order by vote_average desc limit 1')
cur.fetchall()

[('Sardaarji',)]

In [14]:
# which movies were directed by Brenda Chapman?
cur.execute('select original_title from movies join directors on directors.id = movies.director_id where directors.name = "Brenda Chapman" ')
cur.fetchall()

[('Brave',)]

In [15]:
# name of the director who has made most number of movies
cur.execute('select name from directors join movies on directors.id = movies.director_id group by director_id order by count(movies.id) desc limit 1')
cur.fetchall()

[('Steven Spielberg',)]

In [16]:
# name of the bankable director
cur.execute('select name from directors join movies on directors.id = movies.director_id group by director_id order by sum(budget) desc limit 1')
cur.fetchall()

[('Steven Spielberg',)]

In [17]:
# tell everything about top 10 highest budget making movies

#cur.execute('select* from movies order by budget desc limit 10')
#cur.fetchall()
#pd.DataFrame(cur.fetchall(), columns= movies.columns)
cur.execute('select* from movies join directors on movies.director_id = directors.id order by budget desc limit 10')
pd.DataFrame(cur.fetchall())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775,Rob Marshall,4775,2,17633,Directing
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763,Gore Verbinski,4763,2,1704,Directing
2,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769,Joss Whedon,4769,2,12891,Directing
3,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772,Bryan Singer,4772,2,9032,Directing
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766,Andrew Stanton,4766,2,7,Directing
5,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768,Byron Howard,4768,2,76595,Directing
6,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767,Sam Raimi,4767,2,7623,Directing
7,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763,Gore Verbinski,4763,2,1704,Directing
8,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765,Christopher Nolan,4765,2,525,Directing
9,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770,David Yates,4770,2,11343,Directing

In [18]:
# Revnenue Analysis
# find top 10 revenue making movies
cur.execute('select * from movies order by budget desc limit 10')
cur.fetchall()

[(43614,
  'Pirates of the Caribbean: On Stranger Tides',
  380000000,
  135,
  '2011-05-14',
  1045713802,
  'Pirates of the Caribbean: On Stranger Tides',
  6.4,
  4948,
  "Captain Jack Sparrow crosses paths with a woman from his past, and he's not sure if it's love -- or if she's a ruthless con artist who's using him to find the fabled Fountain of Youth. When she forces him aboard the Queen Anne's Revenge, the ship of the formidable pirate Blackbeard, Jack finds himself on an unexpected adventure in which he doesn't know who to fear more: Blackbeard or the woman from his past.",
  'Live Forever Or Die Trying.',
  1865,
  4775),
 (43598,
  "Pirates of the Caribbean: At World's End",
  300000000,
  139,
  '2007-05-19',
  961000000,
  "Pirates of the Caribbean: At World's End",
  6.9,
  4500,
  'Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems.',
  'At the end of the world, the adventure begins.',
  285,
  4763),
 (43604,
  'Avengers: Age of Ultron',
  280000000,
  134,
  '2015-04-22',
  1405403694,
  'Avengers: Age of Ultron',
  7.3,
  6767,
  'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earthâ€™s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.',
  'A New Age Has Come.',
  99861,
  4769),
 (43607,
  'Superman Returns',
  270000000,
  57,
  '2006-06-28',
  391081192,
  'Superman Returns',
  5.4,
  1400,
  'Superman returns to discover his 5-year absence has allowed Lex Luthor to walk free, and that those he was closest too felt abandoned and have moved on. Luthor plots his ultimate revenge that could see millions killed and change the face of the planet forever, as well as ridding himself of the Man of Steel.',
  None,
  1452,
  4772),
 (43601,
  'John Carter',
  260000000,
  43,
  '2012-03-07',
  284139100,
  'John Carter',
  6.1,
  2124,
  "John Carter is a war-weary, former military captain who's inexplicably transported to the mysterious and exotic planet of Barsoom (Mars) and reluctantly becomes embroiled in an epic conflict. It's a world on the brink of collapse, and Carter rediscovers his humanity when he realizes the survival of Barsoom and its people rests in his hands.",
  'Lost in our world, found in another.',
  49529,
  4766),
 (43603,
  'Tangled',
  260000000,
  48,
  '2010-11-24',
  591794936,
  'Tangled',
  7.4,
  3330,
  "When the kingdom's most wanted-and most charming-bandit Flynn Rider hides out in a mysterious tower, he's taken hostage by Rapunzel, a beautiful and feisty tower-bound teen with 70 feet of magical, golden hair. Flynn's curious captor, who's looking for her ticket out of the tower where she's been locked away for years, strikes a deal with the handsome thief and the unlikely duo sets off on an action-packed escapade, complete with a super-cop horse, an over-protective chameleon and a gruff gang of pub thugs.",
  "They're taking adventure to new lengths.",
  38757,
  4768),
 (43602,
  'Spider-Man 3',
  258000000,
  115,
  '2007-05-01',
  890871626,
  'Spider-Man 3',
  5.9,
  3576,
  'The seemingly invincible Spider-Man goes up against an all-new crop of villain â€“ including the shape-shifting Sandman. While Spider-Manâ€™s superpowers are altered by an alien organism, his alter ego, Peter Parker, deals with nemesis Eddie Brock and also gets caught up in a love triangle.',
  'The battle within.',
  559,
  4767),
 (43610,
  'The Lone Ranger',
  255000000,
  49,
  '2013-07-03',
  89289910,
  'The Lone Ranger',
  5.9,
  2311,
  'The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but the gang ambushes the Rangers, seemingly killing them all. One survivor is found, however, by an American Indian named Tonto, who nurses him back to health. The Ranger, donning a mask and riding a white stallion named Silver, teams up with Tonto to bring the unscrupulous gang and others of that ilk to justice.',
  'Never Take Off the Mask',
  57201,
  4763),
 (43600,
  'The Dark Knight Rises',
  250000000,
  112,
  '2012-07-16',
  1084939099,
  'The Dark Knight Rises',
  7.6,
  9106,
  "Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's crimes to protect the late attorney's reputation and is subsequently hunted by the Gotham City Police Department. Eight years later, Batman encounters the mysterious Selina Kyle and the villainous Bane, a new terrorist leader who overwhelms Gotham's finest. The Dark Knight resurfaces to protect a city that has branded him an enemy.",
  'The Legend Ends',
  49026,
  4765),
 (43605,
  'Harry Potter and the Half-Blood Prince',
  250000000,
  98,
  '2009-07-07',
  933959197,
  'Harry Potter and the Half-Blood Prince',
  7.4,
  5293,
  "As Harry begins his sixth year at Hogwarts, he discovers an old book marked as 'Property of the Half-Blood Prince', and begins to learn more about Lord Voldemort's dark past.",
  'Dark Secrets Revealed',
  767,
  4770)]

In [19]:
# name all the directors with the number movies and revenue
cur.execute('select name, count(title), sum(revenue) from movies join directors where movies.director_id = directors.id group by director_id order by sum(revenue) desc limit 5')
pd.DataFrame(cur.fetchall(), columns=['name','count','revenue'])

                name  count     revenue
0   Steven Spielberg     27  9147393164
1      Peter Jackson      9  6498642820
2      James Cameron      7  5883569439
3        Michael Bay     12  5832524638
4  Christopher Nolan      8  4227483234

In [36]:
# How many male directors have generated revenue more than 3227483234
cur.execute('select count(name),sum(revenue) from directors join movies on directors.id where gender=0 group by director_id having sum(revenue)>3227483234')
cur.fetchall()

[(4375, 3677230899375),
 (4375, 1985633348125),
 (4375, 1695968005625),
 (5000, 2642177021250),
 (2500, 1318153346875),
 (6875, 1958063413750),
 (625, 369871835000),
 (1875, 1852394417500),
 (1875, 1393071872500),
 (4375, 1547623366875),
 (5000, 1755146875625),
 (5000, 880680590000),
 (3125, 1629287154375),
 (3125, 1113413364375),
 (4375, 1370274210625),
 (5625, 4061651762500),
 (1875, 949160014375),
 (10000, 1993473748125),
 (3750, 905190363750),
 (2500, 1249064021875),
 (3750, 783639949375),
 (1250, 948460376250),
 (1250, 769515713750),
 (8750, 2085886400625),
 (5625, 1082238942500),
 (625, 464724754375),
 (7500, 3645327898750),
 (1250, 428894584375),
 (2500, 1182972779375),
 (5000, 1158965595000),
 (625, 666856064375),
 (3750, 717345158750),
 (4375, 1476446741875),
 (2500, 944369806875),
 (2500, 454441635000),
 (4375, 957711947500),
 (3125, 565986383750),
 (16875, 5717120727500),
 (625, 207453841875),
 (625, 336864504375),
 (3125, 705048614375),
 (5000, 1848013150000),
 (8125, 2244138751250),
 (3750, 1195031313125),
 (1875, 1347204070000),
 (1875, 793239850625),
 (3750, 1511783895000),
 (12500, 1222897498750),
 (5625, 846912500000),
 (3750, 683743571875),
 (4375, 830734298750),
 (4375, 838850407500),
 (3125, 485301133750),
 (2500, 466678323125),
 (625, 247875000000),
 (625, 474087365625),
 (2500, 565971378125),
 (1875, 6489004375),
 (625, 94351546875),
 (2500, 779500740000),
 (2500, 974043186875),
 (1250, 601303398125),
 (625, 294514305625),
 (1875, 766143258750),
 (2500, 459543956875),
 (1875, 483532979375),
 (625, 48125000000),
 (6250, 1337091453125),
 (2500, 373264541875),
 (3125, 1845285738750),
 (4375, 671086793125),
 (4375, 1009385051875),
 (1875, 340586006875),
 (1250, 846216026250),
 (1875, 369231240000),
 (1250, 678234336875),
 (3125, 571176698125),
 (8750, 798780384375),
 (625, 389826761250),
 (2500, 1051181863750),
 (6875, 1386616914375),
 (2500, 333267935000),
 (625, 796386880625),
 (4375, 714727078125),
 (8125, 1798369091875),
 (4375, 652118798750),
 (625, 183011150625),
 (3125, 612916722500),
 (1875, 574872584375),
 (2500, 529658770625),
 (625, 179746610625),
 (1250, 741789441250),
 (5625, 1532721831250),
 (1875, 238334451250),
 (2500, 161299970625),
 (3750, 339521071250),
 (3125, 658250933125),
 (3125, 410790072500),
 (2500, 422628257500),
 (625, 191838543750),
 (2500, 189470840000),
 (4375, 709661176875),
 (625, 380701905000),
 (3125, 484101536250),
 (6875, 815100294375),
 (5000, 868512311875),
 (3125, 697080048750),
 (1875, 200726585000),
 (625, 53207393750),
 (2500, 487935263125),
 (3125, 624340197500),
 (3750, 433807369375),
 (3750, 548737419375),
 (625, 176606676250),
 (4375, 883594676250),
 (1250, 455822381250),
 (2500, 650470348750),
 (1250, 246974579375),
 (5625, 659857425625),
 (3750, 475663343125),
 (2500, 1006108563750),
 (625, 221405039375),
 (625, 201179505000),
 (6875, 2328519689375),
 (3750, 582759763750),
 (2500, 1582782370000),
 (4375, 675363680625),
 (3125, 387055984375),
 (6250, 731500187500),
 (1875, 268477983125),
 (8125, 898147873125),
 (4375, 777529427500),
 (4375, 506191546875),
 (1250, 154369880000),
 (1875, 375849911875),
 (2500, 181343953125),
 (1250, 151680603125),
 (1875, 261180178125),
 (5000, 668092456250),
 (3125, 2086946183125),
 (625, 83062500000),
 (625, 102876351875),
 (4375, 270038116250),
 (1250, 181827405000),
 (1250, 195610997500),
 (1875, 586667097500),
 (2500, 272810340625),
 (9375, 1321790276875),
 (1250, 247215945000),
 (2500, 194871230625),
 (625, 210987531875),
 (3750, 1057213800625),
 (625, 64969663125),
 (3125, 785701267500),
 (1875, 369112951250),
 (4375, 538937113125),
 (3750, 420707152500),
 (1875, 550421311875),
 (3125, 258476458750),
 (1875, 247805462500),
 (7500, 1167450461875),
 (3125, 227583926875),
 (3750, 536922784375),
 (3750, 502503356875),
 (5000, 938519248125),
 (1250, 178870360000),
 (1875, 304579368125),
 (5000, 675712000000),
 (625, 155805065625),
 (2500, 126939258125),
 (1875, 570237977500),
 (1250, 217957105625),
 (3750, 237897304375),
 (3125, 207939826250),
 (625, 51313986875),
 (2500, 353320743125),
 (625, 128857840000),
 (625, 83574194375),
 (1250, 58359469375),
 (1875, 34797483125),
 (1250, 702173684375),
 (1250, 8646956250),
 (3750, 228481131875),
 (625, 93152820625),
 (4375, 132386453125),
 (5000, 1076593897500),
 (3125, 353611385625),
 (625, 180217307500),
 (1875, 47770454375),
 (1250, 87941326875),
 (625, 64399536250),
 (1250, 326269571875),
 (3750, 439220953125),
 (2500, 314270918125),
 (2500, 326981182500),
 (9375, 644687868750),
 (2500, 688860062500),
 (3125, 372363592500),
 (625, 190200158750),
 (2500, 310372786250),
 (2500, 386172358125),
 (5625, 862475958125),
 (3125, 508438165625),
 (1875, 202071068125),
 (7500, 575762969375),
 (1250, 256879212500),
 (1250, 210047251875),
 (1875, 131243551250),
 (1875, 73431613750),
 (1250, 49742233125),
 (1875, 540364429375),
 (6250, 813663587500),
 (1875, 519751600625),
 (1250, 327562139375),
 (1875, 132125334375),
 (3125, 780423420000),
 (625, 123318141875),
 (2500, 234789320000),
 (2500, 216166600000),
 (1250, 79091573750),
 (2500, 315612745625),
 (2500, 317167204375),
 (1250, 36139797500),
 (2500, 340376005000),
 (2500, 127729382500),
 (2500, 187759011250),
 (4375, 523022941250),
 (1250, 120124520625),
 (4375, 85727634375),
 (1250, 268869703750),
 (4375, 825245859375),
 (1250, 214623279375),
 (3125, 223756528750),
 (1875, 122607546875),
 (1875, 284186691875),
 (5000, 545976733125),
 (2500, 275622644375),
 (1875, 333617624375),
 (1875, 162228668750),
 (3125, 207584048750),
 (625, 156375000000),
 (2500, 284389228750),
 (5000, 565862380000),
 (1250, 189553875625),
 (625, 76602211875),
 (3750, 236264555000),
 (3125, 359704578750),
 (625, 56796606250),
 (625, 44678151875),
 (2500, 150562908125),
 (4375, 168524480625),
 (625, 13375000000),
 (3750, 209842870625),
 (1875, 318832109375),
 (625, 20914980625),
 (1250, 24764678750),
 (625, 492651110000),
 (625, 155240388125),
 (4375, 395256557500),
 (1250, 67032765000),
 (625, 21959262500),
 (625, 547473942500),
 (1250, 194030458750),
 (1250, 946422418750),
 (3750, 162135691875),
 (1250, 233550165000),
 (5000, 473954634375),
 (5000, 487508200000),
 (3750, 429241727500),
 (1250, 98777533750),
 (8125, 693282643750),
 (2500, 500970317500),
 (3750, 538537285625),
 (625, 48715453125),
 (1250, 110349363750),
 (2500, 76668039375),
 (625, 3626513750),
 (1250, 81253696875),
 (625, 722956851250),
 (625, 218612214375),
 (3125, 386774572500),
 (2500, 364786668750),
 (1875, 588796693750),
 (625, 329418031875),
 (2500, 254597010625),
 (2500, 481973591875),
 (5000, 900744375000),
 (625, 194746270000),
 (1250, 121602307500),
 (3750, 451682107500),
 (2500, 172653198125),
 (2500, 209423075000),
 (3125, 224931495625),
 (625, 134705750625),
 (3125, 185147774375),
 (625, 100070419375),
 (1875, 83047936875),
 (625, 36110691250),
 (625, 12452520625),
 (1250, 12419104375),
 (6875, 836386186875),
 (625, 11663766875),
 (625, 36224185000),
 (2500, 157494115000),
 (2500, 231950886250),
 (625, 120625000000),
 (1875, 488137205625),
 (625, 22144445625),
 (1875, 478994314375),
 (2500, 59529891875),
 (625, 18601256875),
 (2500, 79139135625),
 (2500, 182370077500),
 (625, 15814398750),
 (625, 127048522500),
 (3125, 62979647500),
 (1250, 115122550625),
 (1875, 535013324375),
 (1875, 237726246250),
 (1875, 104671600000),
 (12500, 1570036805000),
 (3125, 275595173125),
 (3750, 195936783750),
 (1875, 224536178750),
 (1875, 192166371875),
 (1250, 128387135000),
 (3750, 202433021875),
 (1875, 54189731250),
 (625, 44471620000),
 (3750, 213618108750),
 (10000, 693687238125),
 (1875, 249042496875),
 (1250, 75966064375),
 (2500, 240809182500),
 (6875, 502373423125),
 (625, 26136915000),
 (625, 11700109375),
 (1250, 31144129375),
 (3125, 450378735625),
 (2500, 432726816250),
 (1875, 202832243750),
 (625, 107403025000),
 (1250, 412235491875),
 (1250, 132093071250),
 (3125, 190648538750),
 (1875, 46588566875),
 (3125, 29071695625),
 (1250, 71197796250),
 (3750, 116501506875),
 (3750, 421304423750),
 (1250, 41346123750),
 (625, 66962124375),
 (1875, 56315906250),
 (625, 31798215625),
 (625, 65202551875),
 (5000, 483977516875),
 (625, 128596529375),
 (3125, 224635464375),
 (625, 67659856250),
 (1875, 49451478125),
 (1875, 118645848125),
 (1875, 155087328125),
 (5000, 347989231250),
 (1875, 93561228750),
 (5000, 311772951875),
 (625, 65591103125),
 (1250, 118301276250),
 (6875, 596005634375),
 (2500, 103205504375),
 (1250, 91392368125),
 (625, 11125000000),
 (3125, 23729467500),
 (2500, 32819829375),
 (625, 19250144375),
 (1250, 93350771875),
 (1875, 24908824375),
 (2500, 129590037500),
 (625, 24394585625),
 (3125, 109717760625),
 (3125, 8030142500),
 (625, 121048223750),
 (2500, 45098805625),
 (625, 489445611875),
 (5000, 144607450000),
 (625, 118134756875),
 (625, 31478360625),
 (2500, 267044248125),
 (2500, 167210945625),
 (3125, 387425924375),
 (1250, 51691763125),
 (625, 216299858125),
 (2500, 18125000000),
 (1875, 199171919375),
 (3125, 153711278750),
 (2500, 297028116250),
 (1875, 143380838125),
 (1250, 75336875000),
 (1875, 112501743750),
 (3125, 115129770625),
 (625, 162004516875),
 (1250, 51626414375),
 (3750, 338884743125),
 (625, 20920531250),
 (625, 73961475625),
 (1875, 116419281250),
 (1250, 52412538750),
 (1250, 23702460000),
 (625, 7166305000),
 (625, 55949858125),
 (1250, 82501522500),
 (7500, 553777728125),
 (3125, 174130623750),
 (1875, 96062693750),
 (4375, 217640623750),
 (1250, 452998960000),
 (2500, 95923538750),
 (2500, 114585502500),
 (2500, 154683320000),
 (1875, 130242958750),
 (2500, 189303490625),
 (2500, 178227833125),
 (3125, 168190966250),
 (625, 79918361875),
 (5000, 197241328750),
 (1875, 409180607500),
 (10000, 212886731875),
 (3125, 267917254375),
 (2500, 226512615000),
 (625, 100907211250),
 (2500, 133319201250),
 (1250, 99556903750),
 (3750, 409137981875),
 (3750, 342155257500),
 (2500, 139144458125),
 (625, 43646759375),
 (1250, 41251252500),
 (3750, 133706328125),
 (1250, 141742585625),
 (2500, 336837876250),
 (1250, 65449598125),
 (625, 60898191250),
 (1875, 77695004375),
 (625, 61004658125),
 (1875, 39235180625),
 (1250, 174051691875),
 (1250, 199056148125),
 (3125, 291149299375),
 (625, 80871771875),
 (625, 25126887500),
 (1875, 74548358125),
 (625, 30625000000),
 (5000, 467245341875),
 (1250, 72695649375),
 (1250, 35446341875),
 (1250, 71022920625),
 (3125, 171396838125),
 (6250, 159942486875),
 (4375, 258275176250),
 (4375, 105661869375),
 (2500, 70753900625),
 (5000, 107794250625),
 (1875, 80164510625),
 (1250, 6588451875),
 (1250, 20025673750),
 (3125, 169350656875),
 (1875, 12076334375),
 (1250, 21808066875),
 (2500, 101666535000),
 (2500, 152325920000),
 (1875, 230238124375),
 (1875, 476799115000),
 (1250, 6844599375),
 (1875, 108327668125),
 (2500, 199501994375),
 (625, 78258065000),
 (625, 23803611250),
 (6250, 236506963750),
 (625, 187055378125),
 (1875, 102166470000),
 (2500, 178059014375),
 (3125, 308041405000),
 (1875, 133285213125),
 (1875, 123647528125),
 (1875, 323506638750),
 (1250, 192030218125),
 (625, 65299010000),
 (1250, 230465027500),
 (2500, 126532426250),
 (3125, 253227939375),
 (2500, 166746745625),
 (1250, 85073350625),
 (3125, 52533683125),
 (1875, 35403167500),
 (1250, 133562457500),
 (1875, 50296540625),
 (1250, 53534463750),
 (625, 23786459375),
 (2500, 40108930625),
 (1250, 15297135000),
 (1250, 26554618750),
 (1875, 224412523125),
 (1875, 111633610625),
 (1250, 241468915000),
 (625, 52687500000),
 (1250, 33427706875),
 (1875, 64710897500),
 (4375, 243745678125),
 (1875, 114961971875),
 (2500, 128506233125),
 (1250, 260804622500),
 (1875, 164750232500),
 (1875, 62956365625),
 (625, 44375000000),
 (1875, 65742249375),
 (1875, 48680238125),
 (3125, 551621046250),
 (3750, 312369866875),
 (1250, 35483396250),
 (625, 13072165625),
 (1250, 23058575625),
 (1250, 86489971250),
 (625, 6929730625),
 (625, 28888243125),
 (1250, 130031690625),
 (3125, 428358202500),
 (2500, 215221440625),
 (1250, 356878830000),
 (2500, 193961838125),
 (6250, 477996425625),
 (625, 69882158125),
 (2500, 318965041875),
 (3125, 391267776875),
 (625, 54900026250),
 (625, 46623526875),
 (1875, 98227500625),
 (625, 71768819375),
 (1250, 32409296875),
 (625, 52876050625),
 (1250, 67886313750),
 (1875, 147612283125),
 (2500, 226602806250),
 (625, 22523693125),
 (3125, 199915625625),
 (1250, 25724112500),
 (1250, 17081250000),
 (625, 41096392500),
 (1250, 82465638750),
 (2500, 69142478125),
 (1250, 29091373125),
 (2500, 119129733125),
 (1875, 54128657500),
 (1250, 140171326875),
 (625, 8984488125),
 (2500, 19367309375),
 (625, 8372461875),
 (625, 17575687500),
 (1250, 37342560625),
 (4375, 168645610625),
 (625, 6667433125),
 (1250, 31028329375),
 (1250, 71958930625),
 (1875, 11137971875),
 (1250, 109530346875),
 (625, 62500000000),
 (625, 4133925000),
 (2500, 108695778750),
 (625, 75000000000),
 (1875, 65709241250),
 (3125, 98287863750),
 (1250, 92862510000),
 (1250, 102161958750),
 (1250, 4051371875),
 (3125, 72052035625),
 (3750, 140706964375),
 (1250, 3381718125),
 (625, 68691482500),
 (1250, 119345881875),
 (3125, 181945670625),
 (625, 62547713750),
 (7500, 153339421250),
 (625, 70214695625),
 (1875, 106858393125),
 (625, 13646778125),
 (1250, 436500000000),
 (1875, 78680998125),
 (3125, 135089980625),
 (625, 39875215625),
 (1875, 24144085000),
 (625, 98027970625),
 (2500, 300779794375),
 (1875, 107286656250),
 (1250, 62651910625),
 (1250, 44982110000),
 (625, 57095938125),
 (625, 36503320625),
 (3125, 103730959375),
 (625, 48423130000),
 (2500, 194816943125),
 (1250, 33423853750),
 (1875, 77178929375),
 (625, 62139700625),
 (2500, 140780198125),
 (1250, 37181602500),
 (2500, 189288697500),
 (625, 16942475000),
 (1250, 64485301875),
 (625, 42730896250),
 (1250, 17117979375),
 (625, 31477368750),
 (625, 12173816250),
 (1250, 16169896250),
 (625, 12313227500),
 (625, 10324662500),
 (5625, 351340338750),
 (1875, 84443571875),
 (625, 6305858125),
 (2500, 103487933750),
 (1250, 9375000000),
 (625, 6560198125),
 (1875, 14921970000),
 (1250, 40997099375),
 (625, 7039978750),
 (2500, 535306485000),
 (2500, 84318697500),
 (625, 12249117500),
 (1250, 36858065000),
 (625, 40391741250),
 (625, 87794216250),
 (625, 34187565625),
 (1250, 42258115625),
 (1875, 138137577500),
 (625, 357937500000),
 (1875, 18141384375),
 (2500, 72838038125),
 (1875, 78947556250),
 (625, 31276082500),
 (1250, 72686025000),
 (625, 13637092500),
 (625, 11506181875),
 (1250, 43929627500),
 (625, 17148675625),
 (1250, 24602271875),
 (625, 26278653750),
 (1250, 10423680625),
 (1875, 317082224375),
 (625, 65240117500),
 (1250, 179720996875),
 (625, 122571606250),
 (1250, 115708933125),
 (625, 87601120000),
 (3125, 289431207500),
 (3125, 256396847500),
 (2500, 99417762500),
 (1250, 32857977500),
 (1250, 180758219375),
 (625, 39895905625),
 (13125, 418188148750),
 (625, 52051435000),
 (625, 43875000000),
 (625, 26654655625),
 (1250, 42973805625),
 (625, 41553800000),
 (3125, 196698731875),
 (625, 23826315625),
 (1250, 191656671250),
 (1250, 44216119375),
 (1875, 65713765625),
 (625, 21713791250),
 (1250, 25925531875),
 (625, 30267539375),
 (625, 9037500000),
 (625, 24542196875),
 (1250, 97614826250),
 (1250, 35093125000),
 (625, 67880818750),
 (625, 13771770000),
 (1250, 49617991875),
 (1875, 111937813750),
 (1250, 22768660000),
 (625, 22059043750),
 (625, 10745769375),
 (1875, 70208938125),
 (625, 23726733750),
 (3125, 75831006875),
 (625, 9379994375),
 (625, 18821554375),
 (625, 8451143125),
 (625, 5283938125),
 (2500, 16138442500),
 (625, 11296586875),
 (1250, 4790435000),
 (1250, 32901411250),
 (625, 179691371250),
 (625, 23147502500),
 (1250, 111976055625),
 (2500, 80304930625),
 (625, 15518527500),
 (625, 13203890625),
 (1250, 62807301875),
 (625, 10710813750),
 (3125, 77732109375),
 (2500, 39964221250),
 (625, 10803936875),
 (1875, 70234440625),
 (625, 14576221250),
 (1250, 88454061875),
 (2500, 151463375625),
 (1250, 30918690000),
 (1250, 121062500000),
 (1250, 41170710000),
 (1250, 3256867500),
 (1250, 17850547500),
 (625, 6961125625),
 (6875, 194707523125),
 (1250, 13299385625),
 (1875, 69857868125),
 (625, 33238500000),
 (1250, 18011871875),
 (625, 22126450000),
 (625, 23000000000),
 (625, 12550012500),
 (1875, 83095886875),
 (1875, 22453883125),
 (3750, 11830544375),
 (625, 48750000000),
 (625, 176206121875),
 (1875, 84330166250),
 (625, 85991914375),
 (5625, 187498235625),
 (1875, 91884983125),
 (1250, 98160037500),
 (1250, 27490143750),
 (625, 40273654375),
 (1250, 48136388750),
 (2500, 61873820625),
 (1875, 76450284375),
 (625, 36995080000),
 (625, 143585215000),
 (1250, 55476034375),
 (1250, 31841838750),
 (625, 41326266250),
 (2500, 102935577500),
 (625, 62500000000),
 (1250, 69247300000),
 (625, 17278431875),
 (1250, 26804199375),
 (625, 28845500000),
 (625, 13875000000),
 (1250, 61931951875),
 (625, 23120730000),
 (625, 25282901875),
 (625, 12998029375),
 (1250, 17838515625),
 (1875, 21861747500),
 (1875, 43217390625),
 (625, 32314051875),
 (1875, 78258821250),
 (625, 8125000000),
 (625, 53403796875),
 (1875, 15999816250),
 (1250, 12660609375),
 (1875, 28327059375),
 (625, 3611470625),
 (1250, 24335330000),
 (3750, 7326901875),
 (625, 12034920625),
 (1250, 11103903125),
 (625, 4062500000),
 (1250, 3648546250),
 (1875, 137500000000),
 (625, 50022126250),
 (625, 22881246875),
 (1875, 17275017500),
 (625, 42955848750),
 (3750, 63970510625),
 (1875, 19814265625),
 (625, 32425633125),
 (3125, 27002880000),
 (3750, 191642975625),
 (625, 9700014375),
 (1250, 72839011250),
 (625, 42375040000),
 (625, 14000096250),
 (625, 14762255625),
 (1250, 16003134375),
 (1250, 8472492500),
 (625, 6685131250),
 (1250, 26145841875),
 (625, 11068221875),
 (625, 9000000000),
 (1250, 9654471250),
 (1250, 5924823750),
 (1250, 36228651875),
 (1875, 31817138750),
 (1250, 26250000000),
 (625, 11101690625),
 (625, 11000000000),
 (625, 43563523125),
 (625, 18692303125),
 (625, 76060826875),
 (2500, 253823020000),
 (1250, 117427504375),
 (1250, 127933546875),
 (625, 129965671875),
 (1250, 145001091250),
 (625, 68664176250),
 (1250, 41742442500),
 (625, 84800000000),
 (625, 52591770000),
 (625, 28471583125),
 (1250, 60641429375),
 (1250, 139136525625),
 (625, 22401188125),
 (1875, 65736679375),
 (625, 37500000000),
 (625, 31817021250),
 (625, 19799236250),
 (1250, 42718677500),
 (625, 22117007500),
 (625, 42000000000),
 (1250, 9247647500),
 (2500, 32668416250),
 (625, 32135290000),
 (625, 31112330000),
 (1250, 10890625000),
 (1875, 120657470000),
 (625, 24562500000),
 (1875, 270143200000),
 (1250, 12632121250),
 (5000, 57187500000),
 (1875, 34129446250),
 (1875, 27370935625),
 (625, 32689247500),
 (1875, 119370422500),
 (625, 10378601875),
 (1250, 10895101875),
 (2500, 16933050000),
 (3750, 127100237500),
 (625, 9670833125),
 (1250, 23624838750),
 (625, 19016310000),
 (625, 20127518750),
 (1250, 8369483750),
 (2500, 119114037500),
 (625, 10343423125),
 (1250, 13444281875),
 (3125, 14706101250),
 (1250, 4012699375),
 (1875, 3362656875),
 (1875, 23512393125),
 (1875, 21301764375),
 (625, 10539739375),
 (1250, 3537053750),
 (625, 3435594375),
 (1250, 43792443125),
 (625, 47866447500),
 (1875, 25944230625),
 (1250, 4405430000),
 (1250, 30297578125),
 (1875, 54846277500),
 (625, 67529456875),
 (625, 19945495625),
 (625, 12301827500),
 (1250, 47805555625),
 (1250, 38722815000),
 (625, 15004577500),
 (625, 22583133750),
 (1250, 11664523750),
 (1875, 48442978750),
 (1250, 10439290000),
 (1875, 38723502500),
 (1250, 6563711250),
 (625, 8818758125),
 (2500, 19312060000),
 (625, 13943264375),
 (1875, 17361477500),
 (1250, 20439783750),
 (625, 31908616875),
 (625, 23750000000),
 (1250, 62492345625),
 (1875, 4386368125),
 (625, 166616750000),
 (625, 45044206875),
 (1250, 127740039375),
 (625, 18956978125),
 (625, 13231601875),
 (625, 72094016250),
 (625, 6250000000),
 (625, 60964345000),
 (625, 12062500000),
 (1250, 5937500000),
 (1250, 18781267500),
 (1250, 12950000000),
 (625, 6017182500),
 (1250, 7241061250),
 (1250, 23319795000),
 (1875, 14843796875),
 (1250, 10589246875),
 (625, 83395535000),
 (625, 4056500625),

In [ ]:
# Give title, release date, budget, revenue, popularity and vote average of the movies made by director name like steven